*.pth filter=lfs diff=lfs merge=lfs -text
CompatibilityChecker/drawn_humanoid_detector/latest.pth filter=lfs diff=lfs merge=lfs -text
CompatibilityChecker/drawn_humanoid_pose_estimator/best_AP_epoch_72.pth filter=lfs diff=lfs merge=lfs -text
