<!DOCTYPE html>
<html lang="en">
<body>
    <p>Humanoid figure detected. Please select an animation from the following: </p>
    <form method="POST" action="/submit">
        <label>
            <input type="radio" name="option" value="1" required>
            Dancing
        </label><br>
        <label>
            <input type="radio" name="option" value="2">
            Jumping
        </label><br>
        <label>
            <input type="radio" name="option" value="3">
            Zombie motion
        </label><br>
        <label>
            <input type="radio" name="option" value="4">
            Waving hello
        </label><br>
        <label>
            <input type="radio" name="option" value="5">
            Jumping jacks
        </label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
